<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lzitech.movies_shows_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoviesShowsApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activities.WatchListActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TVShowDetailsActivity"
            android:exported="true" />
        <activity android:name=".activities.MainActivity" />

    </application>

</manifest>